  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
  --link-color: #6B788E;
  --dark-green: #0C6967;
  --orange-color: #D95103;
  --black-color: #000000;
  --white-color: #FFF;
}